.layout {
  display: flex;

  aside {
    position: sticky;
    top: 30px;
    width: 230px;
    height: 100vh;
    padding-left: 35px;

    .wisnet-logo {
      max-width: 212px;
      width: 100%;
    }
  }

  main {
    flex: 1;
    padding: 0 30px 150px;
    max-width: 1400px;
    margin: 0 auto;
  }
}

@media only screen and ( max-width: 815px ){
  body {
    padding-top: 15px;
  }
  .layout {
    display: block;

    aside {
      position: relative;
      width: 100%;
      max-width: 230px;
      height: auto;
      padding-left: 0;
      margin: auto auto 60px;

      .wisnet-logo {
        max-width: 212px;
        margin: auto;
      }
    }

    main {
      padding: 0 15px 88px;
      max-width: 1400px;
      margin: 0 auto;
    }
  }
}