/*
* {
  font-size: 1rem;
}*/

/*
label {
  font-size: 16px;
}*/

.input, input, select, textarea {
  font-size: .6rem !important;
  width: 100% !important;
  height: 30px !important;
  padding-left: 8px !important;
  border-color: #000 #fff #fff #000 !important;
  border-style: solid !important;
  border-width: 2px !important;
  background-color: #fff !important;
}

.navbar {
  height: auto;
  padding: 5px;
}

.btn,
.nav-link {
  background: #C0C0C0;
  &:active,
  &:focus,
  &:visited {
    color: black !important;
  }
}


