body {
  padding-top: 30px;
  background: #000;
  color: var(--wisnet-gray-200);
}

#__nuxt {
  font-family: serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--wisnet-color-gray-200);
}